=default-pattern
    background-color: $color-default
    color: $color-default-contrast

=main-pattern
    background-color: $color-main
    color: $color-main-contrast

=info-pattern
    background-color: $color-info
    color: $color-info-contrast

=success-pattern
    background-color: $color-success
    color: $color-success-contrast

=warning-pattern
    background-color: $color-warning
    color: $color-warning-contrast

=danger-pattern
    background-color: $color-danger
    color: $color-danger-contrast
